p{
    color: red;
}

.wraper{
    margin-top: 90px;
    height: 410px;
    width: 710px;
    border: 1px solid black;
}
.clr{
    clear: both;
}
.bg1{
    background-color: red;
}
.bg2{
    background-color: blue;
}
.bg3{
    background-color: gold;
}
.bg4{
    background-color: teal;
}
.bg5{
    background-color: lawngreen;
}
.box1{
    height:200px;
    width: 350px;
    float: left;
}

.a1{
    margin-top: 10px;
    height:180px;
    width: 160px;
    float: left;
}
.a2{
    margin-top: 10px;
    height:83px;
    width: 160px;
    float: right;
}
.a3{
    margin-top: 10px;
    height:83px;
    width: 160px;
    float: right;
}





.box2{
    height:200px;
    width: 350px;
    float: right;
}

.b1{
    margin-top: 10px;
    height:83px;
    width: 70px;
    float: left;
}
.b2{
    margin-top: 10px;
    height:83px;
    width: 70px;
    float: left;
    margin-left: 10px;
}
.b3{
    margin-top: 10px;
    height:83px;
    width: 170px;
    float: right;
    margin-left: 10px;
}
.b4{
    margin-top: 10px;
    height:83px;
    width: 152px;
    float: left;
}
.b5{
    margin-top: 10px;
    height:83px;
    width: 62px;
    float: left;
    margin-left: 25px;
}
.b6{
    margin-top: 10px;
    height:35px;
    width: 90px;
    float: right;
}
.b7{
    margin-top: 10px;
    height:35px;
    width: 90px;
    float: left;
    margin-left: 21px;
}






.box3{
    margin-top: 5px;
    height:200px;
    width: 350px;
    float: left;
}


.c{
    margin: 10px 0px;
    height:180px;
    width: 350px;
}



.box4{
    margin-top: 5px;
    height:200px;
    width: 350px;
    float: right;
}

.d1{
    margin-top: 10px;
    height: 180px;
    width: 100px;
    float: left;
}
.d2{
    height: 198px;
    width: 100px;
    float: left;
    margin-left: 10px;
}
.sb1{
    margin-top: 10px;
    height: 50px;
    width: 98px;
}
.sb2{
    margin-top: 15px;
    height: 50px;
    width: 98px;
}
.sb3{
    margin-top: 15px;
    height: 50px;
    width: 98px;
}

.d3{
    height: 198px;
    width: 120px;
    float: right;
}
.sb4{
    margin-top: 10px;
    height: 115px;
    width: 120px;
}
.sb5{
    margin-top: 15px;
    height: 50px;
    width: 55px;
    float: left;
}
.sb6{
    margin-top: 15px;
    height: 50px;
    width: 55px;
    float: right;
}